{% extends "layout.html" %}
{% block content %}
    <div class="container" align="center">
        <h1 class="title">Created by:</h1>
        <img class="author" src="static/me.jpg">
        <h1 class="author-name">MD Gaziur Rahman Noor</h1>
        <h5 class="author-email">Email: <a class="author-email-link" href="mailto:mdgaziurrahmannoor@gmail.com">mdgaziurrahmannoor@gmail.com</a></h5>
        <div class="social-links" align="center">
            <a target="_blank" href="https://facebook.com/real.mdgaziur.rahmannoor">
                <img class="social-image" src="static/facebook.png">
            </a>
            <a target="_blank" href="https://github.com/mdgaziur">
                <img class="social-image" src="static/github.png">
            </a>
            <a target="_blank" href="https://twitter.com/mdgaziurrahman7">
                <img class="social-image" src="static/twitter.png">
            </a>
        </div>
    </div>
{% endblock content %}